ECS_CLUSTER=a11ywatch
ECS_ENGINE_AUTH_TYPE=docker
ECS_ENGINE_AUTH_DATA={"https://index.docker.io/v1/":{"username":"name","password":"pass!","email":"name@gmail.com"}}

IAM_USER_KEY=key
IAM_USER_SECRET=secret

DOCKERHUB_PASS=MYDOCKERHUB
GITHUB_TOKEN=PRIVATEGHTOKENFORA11y
